[Unit]
Description=FASS Service
After=network.target

[Service]
ExecStart=/home/fass/go/bin/fass serve
WorkingDirectory=/home/fass/data
User=fass

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
